header{
    width: 100%;
    height: 70px;
    background-color: red;
    
}
footer{
    width: 100%;
    height: 70px;
    background-color: purple;
}

main{
    width: 100%;
    height: 100vh;
    background-color: yellow;
}